.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  max-width: 1600px;
  height: 800px;
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;

  background: url('../img/header_img/tu-tram-pham-202263\ 1.png'), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
}

.navigation {
  max-width: 1170px;
  display: flex;
  align-items: center;

  margin-left: 215px;
  margin-top: 53px;
}

.logo {
  margin-right: 144px;
}

.navigation-menu {

  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__list-item {
    margin-right: 70px;

    &__img {
      margin-right: 14px;
      padding-top: 3px;
    }

    &__img:hover {
      align-items: center;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      background: #FFFFFF;
    }

    &__inner {
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 20px;

    border-radius: 50%;
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
  }

  &__item:hover path {
    fill: #7E5AFF;
  }

  &__item:hover {
    background: #FFFFFF;
    border: 1px solid #3B5998;
  }
}

.heading {
  
  margin-top: 223px;
  margin-bottom: 240px;
 
  display: flex;
  flex-direction: column

}

.swiper {
 position: relative;
  max-width: 1450px;
  width: 100%;
  
}

.swiperHed-wrapper {
  
}

.swiperHed-slide {
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiperHed-container {
  width: 100vh;
}

.swiperHed-pagination {
  position: absolute;
  width: 210px;
  height: 10px;
  left: 1798px;
  top: 395px;

  transform: rotate(90deg);
}

.swiperHed-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-top: 52px !important;
  opacity: 1;
  border-radius: 50%;
  background: none;
  border: 1px solid #FFFFFF;
  z-index: 11;
}

.swiperHed-pagination-bullet:active {
  width: 10px;
  height: 10px;
  
  opacity: 1;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}


.heading-title {
  margin: 0 auto;
  padding-bottom: 320px;
  text-align: center;
}

.heading-header {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;

  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.heading-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.3em;

  color: #FFFFFF;
  padding-top: 20px; 
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 781px;
  margin-top: -1920px;
  margin-bottom: 60px;

  border-radius: 50%;
  border: 1px solid #FFFFFF;
  width: 40px;
  height: 40px;
}

.arrow:hover path {
  fill: #7E5AFF;
}

.arrow:hover {
  background: #FFFFFF;
  border: 1px solid #3B5998;
}

.projects {
  width: 1600px;
  height: 1348px;
  margin: 0 auto;
}

.title-line {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  border: 1px solid #2C4058;
}

.title-header {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;

  text-align: center;

  color: #2C4058;
}

.projects-title1 {

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    color: #2C4058;
    margin-top: 151px;
  }

  &__header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;

    color: #2C4058;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #2C4058;
    margin-top: 19px;
  }


  &__location {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    margin-top: 60px;
  }

  &__location-text {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #000000;
  }
}

.btn {
  width: 190px;
  height: 50px;
  margin-top: 40px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
  border: 1px solid #2C4058;
}

.btn:hover path {
  fill: #FFFFFF;
}

.btn:hover {
  background: #7E5AFF;
  color: #FFFFFF;
}

.projects1 {
  width: 1385px;
  height: 527px;
  margin-top: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects1-image {
  margin-right: 70px;

  &__Left {
    margin-left: -475px;
    margin-top: 57px;
    z-index: 1;
  }
}

.projects2 {
  width: 1385px;
  height: 527px;
  margin-top: 120px;
  margin-left: 215px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects2-image {

  &__Phiolent {
    margin-left: 324px;
  }

  &__Right {
    margin-left: -835px;
    margin-top: 57px;
    z-index: 1;
  }
}

.news {
  max-width: 1600px;
  height: 978px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 150px;

  background: url('../img/news.img/BackgroundNews.png'), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}

.news-title {
  margin-top: 100px;

  &__line {
    width: 100px;
    margin-left: 750px;
    margin-bottom: 30px;

    border: 1px solid #FFFFFF;
  }

  &__header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;

    text-align: center;

    color: #FFFFFF;
  }
}

.news-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 30px;
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: 215px;
  width: 1170px;
    
  &__article {
    width: 370px;
    height: 514px;
  }

  &__article-page {
    padding: 23px 20px 30px;
    background-color: #FFFFFF;

    &__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;

      color: #2C4058;
    }

    &__text {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      margin-top: 15px;
      color: #2C4058;
    }

    &__author {
      display: flex;
      flex-direction: row;

      margin-top: 39px;
    }

    &__author-photo {

      &__inner {
        border-radius: 50%;
      }
    }

    &__author-name {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      &__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        color: #2C4058;
      }

      &__data {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        margin-top: 6px;
        color: #55B7FF;
      }
    }
  }

  .swiper {
    max-width: 1170px;
    width: 100%;
    height: auto;

    padding-bottom: 60px;
  }

  .swiper-wrapper {}

  .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-container {
    // position: relative;
    width: 100vh;
    padding-bottom: 100px;
  }

  .swiper-pagination {
    position: absolute;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
        
    opacity: 1;
    border-radius: 50%;
    background: none;
    border: 1px solid #FFFFFF;
  }

  .swiper-pagination-bullet:active {
    width: 10px;
    height: 10px;
    
    opacity: 1;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6px 6px;
    border-radius: 50%;

    border: 1px solid #FFFFFF;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }


  .swiper-button-next {
    margin-right: -120px;
    background-image: url('../img/news.img/Right.svg');
  }

  .swiper-button-prev {
    margin-left: -120px;
    background-image: url('../img/news.img/Left.svg');
  }

}

.gallery {

  width: 1170px;
  height: 722px;
  margin: 0 auto;
}

.gallery-grid {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  grid-gap: 10px;

  grid-template-areas: "A1 A1 A2 A3" "A1 A1 B1 B2";

  &__item {
    grid-area: A1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 580px;
    height: 438px;

    width: 100%;
    height: 100%;
  }

  &__item1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 285px;
    height: 214px;
  }
}


.gallery-btn {
  width: 190px;
  height: 50px;
  margin-top: 60px;
  margin-left: 490px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
  border: 1px solid #2C4058;
}

.gallery-btn:hover path {
  fill: #FFFFFF;
}

.gallery-btn:hover {
  background: #7E5AFF;
  color: #FFFFFF;
}

.contact {
  width: 1600px;
  height: 850px;
  margin-top: 150px;
}

.map {
  height: 700px;
  width: 100%;
  width: 1600px;
  left: 0;

  z-index: 0;
  opacity: 0.9;
}

.contact-form {
  position: relative;
  z-index: 1;
  width: 770px;
  height: 450px;

  margin-left: 415px;
  margin-top: -300px;
  padding-top: 60px;

  background-color: #FFFFFF;
  box-shadow: 0 -4px 30px rgba(133, 133, 133, 0.2);

  &__page {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 60px;
    margin-top: 42px;
    margin-bottom: 68px;
  }

  &__page-contacts {
    width: 286px;
    height: 196px;
    left: 475px;
  }

  &__page-infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 54px;

    &__section {
      width: 310px;
    }

    &__section-name {

      &__inner {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: #4B5562;
      }

      .form-name__error {
        color: red;
        text-align: left;
        font-size: 12px;
        display: block;
        margin-top: 3px;
        display: none;
      }

      &__line {
        width: 310px;
        margin-top: 14px;

        border: 1px solid #4B5562;
      }
    }

    &__section-email {
      margin-top: 33px;

      &__inner {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: #4B5562;
      }

      .form-email__error {
        color: red;
        text-align: left;
        font-size: 12px;
        display: block;
        margin-top: 3px;
        display: none;
      }

      &__line {
        width: 310px;
        margin-top: 14px;

        border: 1px solid #4B5562;
      }
    }


    &__section-button {
      width: 140px;
      height: 50px;

      margin-top: 30px;

      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      color: #000000;
      border: 1px solid #2C4058;
    }

    &__section-button:hover path {
      fill: #FFFFFF;
    }

    &__section-button:hover {
      background: #7E5AFF;
      color: #FFFFFF;
    }
  }
}

.footer {
  width: 1600px;
  height: 549px;
  margin-top: -150px;

  background: url('../img/contact.img/scott-webb-176434\ 2.png'), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  z-index: -1;
}

.footer-information {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

  width: 770px;

  margin-left: 415px;
  padding-top: 203px;

  &__credit {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  &__credit-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 41px;

    color: #FFFFFF;
  }
}
